In [153]:
import pandas as pd
import numpy as np
import matplotlib as plt
import scipy as stats

In [154]:
filepath = "Resources/countries.csv"
eco_csv = pd.read_csv(filepath, header=0)
eco_csv.head()
# eco_csv.set_index("Region")
eco_csv.columns

Index(['Country', 'Region', 'Population (millions)', 'HDI', 'GDP per Capita',
       'Cropland Footprint', 'Grazing Footprint', 'Forest Footprint',
       'Carbon Footprint', 'Fish Footprint', 'Total Ecological Footprint',
       'Cropland', 'Grazing Land', 'Forest Land', 'Fishing Water',
       'Urban Land', 'Total Biocapacity', 'Biocapacity Deficit or Reserve',
       'Earths Required', 'Countries Required', 'Data Quality'],
      dtype='object')

In [190]:
eco_csv.head()

,Country,Region,Population (millions),HDI,GDP per Capita,Cropland Footprint,Grazing Footprint,Forest Footprint,Carbon Footprint,Fish Footprint,...,Cropland,Grazing Land,Forest Land,Fishing Water,Urban Land,Total Biocapacity,Biocapacity Deficit or Reserve,Earths Required,Countries Required,Data Quality
0,Afghanistan,Middle East/Central Asia,29.82,0.46,$614.66,0.30,0.20,0.08,0.18,0.00,...,0.24,0.20,0.02,0.00,0.04,0.50,-0.30,0.46,1.60,6
1,Albania,Northern/Eastern Europe,3.16,0.73,"$4,534.37",0.78,0.22,0.25,0.87,0.02,...,0.55,0.21,0.29,0.07,0.06,1.18,-1.03,1.27,1.87,6
2,Algeria,Africa,38.48,0.73,"$5,430.57",0.60,0.16,0.17,1.14,0.01,...,0.24,0.27,0.03,0.01,0.03,0.59,-1.53,1.22,3.61,5
3,Angola,Africa,20.82,0.52,"$4,665.91",0.33,0.15,0.12,0.20,0.09,...,0.20,1.42,0.64,0.26,0.04,2.55,1.61,0.54,0.37,6
4,Antigua and Barbuda,Latin America,0.09,0.78,"$13,205.10",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.94,-4.44,3.11,5.70,2

In [189]:
clean_df = eco_csv[['Country', 'Region', 'Population (millions)', 'HDI', 'Total Ecological Footprint','Total Biocapacity', 'Biocapacity Deficit or Reserve']]

In [188]:
# convert GDP per Capita to float
gdp_df = eco_csv[eco_csv.columns[4]].replace('[\$,]', '', regex=True).astype(float)
# gdp_df.head()
print(gdp_df.mean())
print(gdp_df.median())
print(gdp_df.max())
print(gdp_df.min())

bins = {"0", "<1000", "<5000", "<25000", "<125000", "<625000"}
labels = {"low", "low-med", "med", "med-high", "high", "very high"}

14238.324913294797
5430.57
114665.0
276.69

In [184]:
merged_df = pd.merge(clean_df, gdp_df, left_index= True, right_index = True)
merged_df
clean_pivot = pd.pivot_table(merged_df, columns = ("Country"))
clean_pivot

Country,Afghanistan,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,...,United Kingdom,United States of America,Uruguay,Uzbekistan,"Venezuela, Bolivarian Republic of",Viet Nam,Wallis and Futuna Islands,Yemen,Zambia,Zimbabwe
Biocapacity Deficit or Reserve,-0.30,-1.03,-1.53,1.61,-4.44,3.78,-1.35,-11.31,7.26,-3.00,...,-3.62,-4.46,7.41,-1.40,-0.790000,-0.65,-0.56,-0.53,1.24,-0.75
GDP per Capita,614.66,4534.37,5430.57,4665.91,13205.10,13540.00,3426.39,NaN,66604.20,51274.10,...,40980.50,49725.00,14238.10,1560.85,10237.800000,1532.31,NaN,1302.30,1740.64,865.91
HDI,0.46,0.73,0.73,0.52,0.78,0.83,0.73,NaN,0.93,0.88,...,0.90,0.91,0.79,0.67,0.763846,0.66,NaN,0.50,0.58,0.49
Population (millions),29.82,3.16,38.48,20.82,0.09,41.09,2.97,0.10,23.05,8.46,...,63.03,317.50,3.40,28.54,29.960000,90.80,0.01,23.85,14.08,13.72
Total Biocapacity,0.50,1.18,0.59,2.55,0.94,6.92,0.89,0.57,16.57,3.07,...,1.32,3.76,10.32,0.92,2.780000,1.00,1.51,0.50,2.23,0.62
Total Ecological Footprint,0.79,2.21,2.12,0.93,5.38,3.14,2.23,11.88,9.31,6.06,...,4.94,8.22,2.91,2.32,3.570000,1.65,2.07,1.03,0.99,1.37

In [194]:
usa = (clean_pivot.loc[:, "United States of America"])
usa

Biocapacity Deficit or Reserve       -4.46
GDP per Capita                    49725.00
HDI                                   0.91
Population (millions)               317.50
Total Biocapacity                     3.76
Total Ecological Footprint            8.22
Name: United States of America, dtype: float64

In [147]:
# merged_df.set_index('Region')
# .groupby('Region')
merged_df.mean()

Population (millions)                37.342372
HDI                                   0.686360
Total Ecological Footprint            3.317606
Total Biocapacity                     4.019681
Biocapacity Deficit or Reserve        0.702074
GDP per Capita                    14238.324913
dtype: float64

In [149]:
regions_df = merged_df.unique("Region")

AttributeError: 'DataFrame' object has no attribute 'unique'